<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="/about/">About</a>
    </nav>
    <h1>
        Weather Data API Home
    </h1>
    <h4>This is the home for the Weather API built by GamerXZEN using the REST API Architecture</h4>
    <p>URL format: http://127.0.0.1:5000/v1.2/<em>station</em>/<em>date</em></p>
    <p>URL example: http://127.0.0.1:5000/v1.2/10/20201029</p>


</body>
</html>
